@charset "utf-8";

@media screen and (min-width: 768px) and (max-width: 992px) and (orientation: portrait) {
  
    header h1{
        margin: 74px 0 0 40px;
        padding: 0;
    }
    
    .container-conteudo {
        margin: 0 auto;
        width: 688px;
    }
    
    textarea {
        height: 500px;
        width: 688px;
        margin: 120px 0 0 0 ;
    }
    
    .botao-cript {
        margin: 0 24px 0 0;
    }
  
    .container-output {
        width: 688px;
        height: 133px;
    }
    
    .img-output {
        display: none;
    }
    
    .titulo-sem-input {
        width: 624px;
        height: 29px;
        margin: 0 32px 16px 32px;
    }
    
    .texto-sem-input {
        width: 624px;
        height: 24px;
        margin: 0 32px 0px 32px;
    }
}

@media screen and (min-width: 992px) {

}